### Email : tanvirishrak2963@gmail.com

In [23]:
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

#### Answer to the Question no 1

In [6]:
age_arr = np.array(ages)
salary_arr = np.array(salaries)

print("ages :",age_arr)
print("salaries :",salary_arr)

print("ages dtype: ",age_arr.dtype)
print("ages ndim: ",age_arr.ndim)
print("ages shape: ",age_arr.shape)
print("ages size: ",age_arr.size)
print("salary dtype: ",salary_arr.dtype)
print("salary ndim: ",salary_arr.ndim)
print("salary shape: ",salary_arr.shape)
print("salary size: ",salary_arr.size)

ages : [56 46 32 25 38 56 36 40 28 28]
salaries : [77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]
ages dtype:  int32
ages ndim:  1
ages shape:  (10,)
ages size:  10
salary dtype:  int32
salary ndim:  1
salary shape:  (10,)
salary size:  10

#### Answer to the Question no 2

In [8]:
max_sal = np.max(salary_arr)
min_sal = np.min(salary_arr)
avg_sal = np.mean(salary_arr)
avg_age = np.mean(age_arr)

print("Max salary: ",max_sal)
print("Min salary: ",min_sal)
print("Avg sal: ", avg_sal)
print("Avg age: ", avg_age)

Max salary:  89735
Min salary:  30769
Avg sal:  57446.9
Avg age:  38.5

#### Answer to the Question no 3

In [9]:
older_30 = age_arr[age_arr > 30]
count = older_30.size

print("older than 30: ",older_30)
print("Count of them: ",count)

older than 30:  [56 46 32 38 56 36 40]
Count of them:  7

#### Answer to the Question no 4

In [11]:
new_ages = age_arr + 5
print("Original: ",age_arr)
print("New: ",new_ages)

Original:  [56 46 32 25 38 56 36 40 28 28]
New:  [61 51 37 30 43 61 41 45 33 33]

#### Answer to the Question no 5

In [13]:
total_sal = np.sum(salary_arr)
salary_range = np.max(salary_arr) - np.min(salary_arr)

print("Total salary expense: ",total_sal)
print("Difference: ",salary_range)

Total salary expense:  574469
Difference:  58966

#### Answer to the Question no 6

In [18]:
df = pd.read_csv("employees.csv")
print(df.head())
print("\nInfo:")
print(df.info())

print("\nStatistics: ")
print(df.describe())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None

Statistics:
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

#### Answer to the Question no 7

In [21]:
print(df[['id','age','salary']])

print('\n')
print(df.tail(3))

   id  age  salary
0   1   56   77191
1   2   46   74131
2   3   32   46023
3   4   25   71090
4   5   38   31685
5   6   56   30769
6   7   36   89735
7   8   40   86101
8   9   28   32433
9  10   28   35311


   id  age  salary   dept
7   8   40   86101     IT
8   9   28   32433  Sales
9  10   28   35311     HR

#### Answer to the Question no 8

In [24]:
it_emp = df[df['dept'] == 'IT']
print(it_emp)
print('Total emp : ', len(it_emp))

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT
Total emp :  3

#### Answer to the Question no 9

In [27]:
top_3 = df.sort_values(by='salary',ascending = False).head(3)
print(top_3[['id','salary','dept','age']])

   id  salary     dept  age
6   7   89735  Finance   36
7   8   86101       IT   40
0   1   77191       HR   56

#### Answer to the Question no 10

In [30]:
df.loc[df['salary'] > 80000,'salary'] = 80000
new_avg = df['salary'].mean()

print(df)
print('New avg: ',new_avg)

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR
New avg:  55863.3