# Dictionary

In [1]:
# # mutable
# # unordered
# #  Key , value-------------------
#     |                            |
#     immutable                    |
# (int, string, float,tuple)       |
#                                  |
#                             (string,list,set,int,dictionary)

# can't keep same named key at the same dictionary

In [2]:
dic = {"name":"Ishrak",
       "age":22 , 
       "address":"Barishal",
       "num":[1,2,3,4]}
print(type(dic),dic)

<class 'dict'> {'name': 'Ishrak', 'age': 22, 'address': 'Barishal', 'num': [1, 2, 3, 4]}

In [4]:
# access
# dic_name[key]
print(dic["address"])
print(dic.get("age"))

Barishal
22

In [10]:
# value assigning
dic["name"]="atlas"
print(dic)

# adding new key which was not there
dic["marks"]=100
print(dic)

dic.update({"math":12})
print(dic)

#if the key is not there it will print none
# but we can show something else instead of none as default value
print(dic.get("array","Not there"))

{'name': 'atlas', 'age': 22, 'address': 'Barishal', 'num': [1, 2, 3, 4], 'marks': 100}
{'name': 'atlas', 'age': 22, 'address': 'Barishal', 'num': [1, 2, 3, 4], 'marks': 100}
{'name': 'atlas', 'age': 22, 'address': 'Barishal', 'num': [1, 2, 3, 4], 'marks': 100, 'math': 12}
Not there

In [11]:
# deleting any key value

del dic["marks"]
print(dic)

{'name': 'atlas', 'age': 22, 'address': 'Barishal', 'num': [1, 2, 3, 4], 'math': 12}

# Dictionary View Methods

In [12]:
# keys(), values(), items()
# these are the view methods

In [15]:
dic = {"name":"Ishrak",
       "age":22 , 
       "address":"Barishal",
       "num":[1,2,3,4]}

print(dic.keys())
print(dic.values())

#The items() method returns a view object. 
# The view object contains the key-value pairs of the dictionary,
# as tuples in a list.
print(dic.items())

dict_keys(['name', 'age', 'address', 'num'])
dict_values(['Ishrak', 22, 'Barishal', [1, 2, 3, 4]])
dict_items([('name', 'Ishrak'), ('age', 22), ('address', 'Barishal'), ('num', [1, 2, 3, 4])])

In [20]:
# Iteration

# this would show error of unable to unpack any dic
# for key,value in dic:
#     print(key,value)
    
for key,value in dic.items():
    print(key,value)

name Ishrak
age 22
address Barishal
num [1, 2, 3, 4]