# Set items

In [2]:
A = {1,2,3}
print(type(A),A)

<class 'set'> {1, 2, 3}

In [6]:
# Empty structures

b = []
print(type(b))

c = ()
print(type(c))

d = {}
print(type(d))

e = set()
print(type(e))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [11]:
# access
s = {23,45,123,456,67,23,6}
if (456 in s):
    print("yes")
else:
    print("No")

sum = 0
for elements in s:
    print(elements)
    sum+=elements
print(f"sum is: {sum}")

yes
67
6
23
456
123
45
sum is: 720

In [34]:
# Methods of set
# Mutable
a = {1,2,3,4,5,6,7}
s={1,5,3,754,213,12,33}
x = {1,3,4,7}
a.add(10)
print(a)

# a.pop()  # deleting value from the first
# print(a)  

a.remove(6)
print(a)


print(a.union(s))
print(a.intersection(s))
print(a.isdisjoint(s))   #no intersec point can be there
print(x.issubset(a))

{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 7, 10}
{1, 2, 3, 4, 5, 33, 7, 10, 12, 754, 213}
{1, 3, 5}
False
True