 # Tuples

In [12]:
# Declearation

tup = (10,20,30)
print(type(tup))

mix_tup=(10, 23.4 , "ishrak", True)
print(mix_tup)

tup1=(10,)   #to make it as tuppe it must has to add a comma otherwise it will be integer type data
print(type(tup1),tup1)

#list to tuple
tup2 = tuple([10])
print(type(tup2))

<class 'tuple'>
(10, 23.4, 'ishrak', True)
<class 'tuple'> (10,)
<class 'tuple'>

In [15]:
# access

#index
print(tup[1])

#slicing
new_tup = mix_tup[0:3]
print(new_tup)

20
(10, 23.4, 'ishrak')

In [18]:
# mutable

list1 = [1,2,3,4,5]
list1.append(10)
list1[1]=100
print(list1)

# immutable
tup[1] = 100
# print(tup)  this will not run

[1, 100, 3, 4, 5, 10]

TypeError: 'tuple' object does not support item assignment

In [23]:
# tuple methods
tup3 = (10,20,30,40,20,60,20)
print(tup3.count(20))
print(tup3.index(60))

3
5