In [1]:
import pandas as pd
df = pd.read_csv('student_data.csv')
df

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,1/15/2024,Mr. Karim,Dhaka
1,PH1002,Fatima Akhter,92.0,92.0,NaN,In Progress,1/20/2024,Ms. Salma,Chattogram
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2/10/2024,Mr. Karim,Dhaka
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2/12/2024,Ms. Salma,Sylhet
4,PH1005,Kamal Uddin,NaN,NaN,95.0,In Progress,3/5/2024,Mr. Karim,Chattogram
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,3/8/2024,Ms. Salma,Rajshahi
6,PH1007,Mahmudul Hasan,80.0,80.0,NaN,In Progress,4/1/2024,Mr. Karim,Dhaka
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,4/22/2024,Ms. Salma,Chattogram
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,5/16/2024,Mr. David,Dhaka
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,5/20/2024,Ms. Salma,Sylhet
10,PH1011,Rahim Sheikh,NaN,NaN,91.0,In Progress,6/11/2024,Mr. Karim,Khulna
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,6/14/2024,Ms. Salma,Chattogram
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,7/2/2024,Mr. David,Dhaka
13,PH1014,Urmi Akter,NaN,NaN,NaN,Not Started,7/9/2024,Ms. Salma,Rajshahi
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,8/18/2024,Mr. Karim,Dhaka
15,PH1016,Ziaur Rahman,94.0,94.0,NaN,In Progress,8/21/2024,Ms. Salma,Chattogram
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,9/1/2025,Mr. Karim,Dhaka
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,9/5/2025,Ms. Salma,Sylhet
18,PH1019,Faria Rahman,NaN,NaN,NaN,Not Started,9/15/2025,Mr. David,Chattogram
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,10/2/2025,Ms. Salma,Dhaka
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.dropna(inplace=True)
df['Total Marks'] = df.iloc[:: , 2:5].sum(axis=1)
df

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,1/15/2024,Mr. Karim,Dhaka,258.0
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2/10/2024,Mr. Karim,Dhaka,261.0
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2/12/2024,Ms. Salma,Sylhet,238.0
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,3/8/2024,Ms. Salma,Rajshahi,228.0
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,4/22/2024,Ms. Salma,Chattogram,247.0
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,5/16/2024,Mr. David,Dhaka,220.0
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,5/20/2024,Ms. Salma,Sylhet,266.0
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,6/14/2024,Ms. Salma,Chattogram,257.0
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,7/2/2024,Mr. David,Dhaka,229.0
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,8/18/2024,Mr. Karim,Dhaka,256.0
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,9/1/2025,Mr. Karim,Dhaka,273.0
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,9/5/2025,Ms. Salma,Sylhet,261.0
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,10/2/2025,Ms. Salma,Dhaka,261.0

In [6]:
# min max scaling
mn = df['Total Marks'].min()
mx = df['Total Marks'].max()

df['Scaled Marks'] = df['Total Marks'].apply(lambda x : (x-mn)/(mx-mn))
                                        # x is each value of Total Marks
df

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,Scaled Marks
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,1/15/2024,Mr. Karim,Dhaka,258.0,0.716981
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2/10/2024,Mr. Karim,Dhaka,261.0,0.773585
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2/12/2024,Ms. Salma,Sylhet,238.0,0.339623
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,3/8/2024,Ms. Salma,Rajshahi,228.0,0.150943
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,4/22/2024,Ms. Salma,Chattogram,247.0,0.509434
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,5/16/2024,Mr. David,Dhaka,220.0,0.000000
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,5/20/2024,Ms. Salma,Sylhet,266.0,0.867925
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,6/14/2024,Ms. Salma,Chattogram,257.0,0.698113
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,7/2/2024,Mr. David,Dhaka,229.0,0.169811
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,8/18/2024,Mr. Karim,Dhaka,256.0,0.679245
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,9/1/2025,Mr. Karim,Dhaka,273.0,1.000000
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,9/5/2025,Ms. Salma,Sylhet,261.0,0.773585
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,10/2/2025,Ms. Salma,Dhaka,261.0,0.773585

In [8]:
# custom built function

def grading_system(marks):
    if marks >= 260 :
        return 'A+'
    elif marks >=250 :
        return 'A'
    else :
        return 'A-'

df['Grade'] = df['Total Marks'].apply(grading_system)
df

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,Scaled Marks,Grade
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,1/15/2024,Mr. Karim,Dhaka,258.0,0.716981,A
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2/10/2024,Mr. Karim,Dhaka,261.0,0.773585,A+
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2/12/2024,Ms. Salma,Sylhet,238.0,0.339623,A-
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,3/8/2024,Ms. Salma,Rajshahi,228.0,0.150943,A-
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,4/22/2024,Ms. Salma,Chattogram,247.0,0.509434,A-
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,5/16/2024,Mr. David,Dhaka,220.0,0.000000,A-
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,5/20/2024,Ms. Salma,Sylhet,266.0,0.867925,A+
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,6/14/2024,Ms. Salma,Chattogram,257.0,0.698113,A
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,7/2/2024,Mr. David,Dhaka,229.0,0.169811,A-
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,8/18/2024,Mr. Karim,Dhaka,256.0,0.679245,A
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,9/1/2025,Mr. Karim,Dhaka,273.0,1.000000,A+
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,9/5/2025,Ms. Salma,Sylhet,261.0,0.773585,A+
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,10/2/2025,Ms. Salma,Dhaka,261.0,0.773585,A+

In [11]:
def marking_system(df):
    a = df['Data Structure Marks']*2
    b = df['Python Marks']*3
    c = df['Algorithm Marks']*4

    return a+b+c
df['Exceptional Marks'] = df.apply(marking_system,axis=1)
df

,StudentID,FullName,Data Structure Marks,Algorithm Marks,Python Marks,CompletionStatus,EnrollmentDate,Instructor,Location,Total Marks,Scaled Marks,Grade,Exceptional Marks
0,PH1001,Alif Rahman,85.0,85.0,88.0,Completed,1/15/2024,Mr. Karim,Dhaka,258.0,0.716981,A,774.0
2,PH1003,Imran Hossain,88.0,88.0,85.0,Completed,2/10/2024,Mr. Karim,Dhaka,261.0,0.773585,A+,783.0
3,PH1004,Jannatul Ferdous,78.0,78.0,82.0,Completed,2/12/2024,Ms. Salma,Sylhet,238.0,0.339623,A-,714.0
5,PH1006,Laila Begum,75.0,75.0,78.0,Completed,3/8/2024,Ms. Salma,Rajshahi,228.0,0.150943,A-,684.0
7,PH1008,Nadia Islam,81.0,81.0,85.0,Completed,4/22/2024,Ms. Salma,Chattogram,247.0,0.509434,A-,741.0
8,PH1009,Omar Faruq,72.0,72.0,76.0,Completed,5/16/2024,Mr. David,Dhaka,220.0,0.000000,A-,660.0
9,PH1010,Priya Sharma,89.0,89.0,88.0,Completed,5/20/2024,Ms. Salma,Sylhet,266.0,0.867925,A+,798.0
11,PH1012,Sadia Chowdhury,85.0,85.0,87.0,Completed,6/14/2024,Ms. Salma,Chattogram,257.0,0.698113,A,771.0
12,PH1013,Tanvir Ahmed,75.0,75.0,79.0,Completed,7/2/2024,Mr. David,Dhaka,229.0,0.169811,A-,687.0
14,PH1015,Wahiduzzaman,86.0,86.0,84.0,Completed,8/18/2024,Mr. Karim,Dhaka,256.0,0.679245,A,768.0
16,PH1017,Afsana Mimi,90.0,90.0,93.0,Completed,9/1/2025,Mr. Karim,Dhaka,273.0,1.000000,A+,819.0
17,PH1018,Babul Ahmed,88.0,88.0,85.0,Completed,9/5/2025,Ms. Salma,Sylhet,261.0,0.773585,A+,783.0
19,PH1020,Nasir Khan,86.0,86.0,89.0,Completed,10/2/2025,Ms. Salma,Dhaka,261.0,0.773585,A+,783.0