In [3]:
import pandas as pd

#list type
list = [["ishrak",22],["fatin",21],["leon",19]]
var = pd.DataFrame(list,columns =['Name','Age'],index=[1,2,3])    # also naming the columns and reindexing

print(var)
print(type(var))

     Name  Age
1  ishrak   22
2   fatin   21
3    leon   19
<class 'pandas.core.frame.DataFrame'>

In [8]:
# tuple type
tup = (('ishrak',23),("fatin",21),("leon",19))
tup_df = pd.DataFrame(tup,columns =['Name','Age'],index=[1,2,3])
tup_df

     Name  Age
1  ishrak   23
2   fatin   21
3    leon   19

In [9]:
# dictionary
dictionary = {"Roll":[4,32,5,3,1,3,],"Marks":[34,56,23,56,23,45]}  #lengths has to be same
var1 = pd.DataFrame(dictionary)
# var2= pd.DataFrame(dictionary,columns=["a"])
                                #this is just to call specific columns

print(var1)
# print(var2)
# print(var1["a"][3])  # to find specific column-row value

    a   s
0   4  34
1  32  56
2   5  23
3   3  56
4   1  23
5   3  45

In [11]:
# dictionaries in list

my_data = [
    {'Name' : 'Ishrak','Age':22},
    {'Name' : 'Adi','Age':21},
    {'Name' : 'Leon','Age':19}]

data_df = pd.DataFrame(my_data)
data_df

     Name  Age
0  Ishrak   22
1     Adi   21
2    Leon   19