# Arithmatic operators

In [1]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8]})
var

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [2]:
var["c"] = var["a"] +var["b"]   #addition , sumbraction , multiplication, division
var

   a  b   c
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [5]:
#
var1 = pd.DataFrame({"a":[10,20,30,40],"b":[25,16,70,18]})
var1["python"] = var1["a"] >=20
var1["python_1"] = var1["b"] >=20

var1

    a   b  python  python_1
0  10  25   False      True
1  20  16    True     False
2  30  70    True      True
3  40  18    True     False