# Insert

In [6]:
import pandas as pd

var = pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8]})
var

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [5]:
var.insert(1,"python",[8,7,6,5])
var

   a  python  b
0  1       8  5
1  2       7  6
2  3       6  7
3  4       5  8

In [7]:
var["x"]= var["a"][:3]  # coping 0-3rd index data to x
var

   a  b    x
0  1  5  1.0
1  2  6  2.0
2  3  7  3.0
3  4  8  NaN

# Delete

In [8]:
vae1 = var.pop("b")
vae1

0    5
1    6
2    7
3    8
Name: b, dtype: int64

In [9]:
var

   a    x
0  1  1.0
1  2  2.0
2  3  3.0
3  4  NaN

In [10]:
del var["a"]

var

     x
0  1.0
1  2.0
2  3.0
3  NaN